
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*stylisation du menu humberger*/
.formulaireachat{
height:50vh ;
width: 300px;
background-color: yellow;
display: flex;
border-radius: 10px;
align-items: center;
justify-content: center;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.014);
display: none;


}
.formulaireachat form{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column; 

}

.formulaireachat form label{
margin-top: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.formulaireachat form input{
   padding: 10px;
    width: 200px ;
outline: none;
color: #1C1C1C;
font-size: 16px;
border-radius: 5px;
border: 1px solid transparent;
}
.formulaireachat form button{
    margin-top: 15px;
     padding: 10px;
     width: 180px; 
     cursor: pointer;
}
/*stylisation du menu humberger*/
/*lepop up*/
.poput{
    background-color: aqua;
    height: 300px;
  align-items: center;
  display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%,50%);
    background-color: #FFF;
     position: fixed;
    top: 20%;
    left: 30%;
    padding: 20px;
    width: 30%;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.poput button{
    margin: 15px;
    width: 50%;
    position: relative;
    top: 5%;
    padding: 5px;
}
.poput{
    display: none;
    z-index: 1;
}

#listpanier {
  display: none;
  list-style: none;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  right: 10px;
  top: 60px;
  width: 200px;
  border-radius: 8px;
}
.poput p{
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-family: Georgia;
}
#humberger_menu{
width: 30px;
display: none;
}
.croix{
    display: none;
}
body{
    padding: 30px;
}
header{
   width: auto;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    position: relative;
    top: 45px;
}
header nav {
width: 100%;
padding: 15px;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
header nav .logo{
   width: 5%;
   padding-bottom: 45px;
   padding-left:15px ;
height:40vh;
position: relative;
bottom: 45px;

animation:logo 2s infinite;
}
header nav .logo img{
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 65px;
}
@keyframes logo{
    40%{
        transform: translate(10px);
    }
  
}
header nav .menu {
    display: flex;
    padding-right: 15px;
   position: relative;
   bottom: 125px;
   width: 90%;
   
}
header nav .menu ul{
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
    position: relative;
    bottom: 25px;
    left: 10px;
}
header nav .menu ul li{
text-align: center;
    margin-left: 25px;
    color: goldenrod;
    list-style: none; 
    padding-bottom: 10px; 
    transition: 2s ease-in-out;
    height: 40px;
      width: 160px;
}
header nav .menu ul li:hover{
    border: 1px solid transparent;
    background-color: goldenrod;
    border-radius: 5px;
    width: 190px;
}
    header nav .menu ul li i{
color: #2C3E50;;
position: relative;
right: 7%;
height: 45%;
font-size: 25px;
}
    header nav .menu ul li a{
   color: black;
   font-size: 18px;
   letter-spacing:1.5px ;
   text-transform:capitalize ;
   text-decoration: none;
 font-family: "Roboto", sans-serif;
}
.bienvenue{
    background: url(istockphoto-1367180724-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
    bottom: 210px;
    padding: 20px;
   animation: bienvenue 30s ease-in-out infinite;
    border-radius: 15px;
    flex-wrap: wrap;
}
@keyframes bienvenue{
      0%   { background-image: url(fashionmodel3.jpg);
        opacity:    0.7;
     }
      10%{
       background-image: url(istockphoto-2059134487-612x612.jpg);
        opacity: 1;
    background-position:top ;
    background-repeat: no-repeat;
    background-size: cover; 
    transform: translateX(10px);
     opacity:    0.7;
    }
    20%{
       background-image: url(fashionmodel1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
      transform: translateX(30px);
    }
    30%{
    background-image: url(istockphoto-1357329192-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
      transform: translateX(30px); 
       opacity:    0.7;
    }
    40%{
        background-image: url(istockphoto-1201024668-612x612.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
          transform: translateX(30px);
           opacity:    0.7;
    }
    50%{
        background-image: url(istockphoto-1349960077-612x612.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
          transform: translateX(30);
    }
    60%{
         background-image: url(istockphoto-1018293976-612x612.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
          transform: translateX(30px);
           opacity:    0.7;
    }
    70%{
     background-image: url(istockphoto-1359562499-612x612.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;  
          transform: translateX(30px);
            opacity:    0.7; 
    }
    80%{
       background-image: url(istockphoto-1018293976-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
      transform: translateX(30px);
       opacity:    0.7;
    }
    90%{
       background-image: url(fashionmodel2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
      transform: translateX(30px);
       opacity:    0.7;
    }
}
.bienvenue .accueil{
 padding-right: 15px;
    padding-left: 15px;
    position: relative;
    top:30%;

}
.bienvenue .accueil h1{
    color:#D4AF37;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.bienvenue .accueil span{
    color:#1C1C1C;
    text-transform: uppercase;
}
.bienvenue .accueil h2{
    color: #2C3E50;;
    text-align: center;
    font-size: 40px;
   font-family: "Roboto", sans-serif;;
}
.bienvenue .accueil h3{
     color:#1C1C1C;
    text-align: center;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}
h4{
    position: relative;
    bottom: 320px;
    padding: 19px;
   text-align: center;
  font-family: "Roboto", sans-serif;
    font-size: 35px;
    text-decoration: underline;
    text-transform: capitalize;
    color: #2C3E50;

}
.produit{
    background-color:rgba(128, 128, 128, 0.054) ;
    position: relative;
    bottom: 190px;
    border-radius: 15px;
    flex-wrap: wrap;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.produit .pro{
    width: 100%;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
padding-top: 5px;
}
.produit .pro .article{
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 10px 12px 10px 11px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation:image 6s infinite;
   
}
@keyframes image{
    50%{
 transform: translateY(45px);
    }
}
.produit .pro .article p{
text-align: end;
padding-top: 15px;
text-transform: capitalize;
font-family: Georgia;
font-weight: 400;
font-size: 17px;
}
.produit .pro .article h1{
background-color: #d4af37a1;
width: 100%;
color: #FFF;
height: 25px;
font-size: 15px;
text-align: center;
text-transform: uppercase;
}
.produit .pro .article img{
   margin-right: 25px;
   margin-top: 15px;
   width: 250px;
   height: 40vh;
   border-radius: 15px;
}
/*style pour accessoires pour hommes*/
.pour a{
  position: relative;
  right: 100px;
  color: #D4AF37;
}
.produit ol li {
    list-style: none;
position: relative;
left: 30%;


}
.produit ol li a{
    color: #2C3E50;;
    font-size: 28px;
 text-align: center;
 text-decoration: none;
 margin-bottom: 14px;
 position: relative;
 left: 13%;
 letter-spacing: 2px;
}
.pour{
    height: 90vh;
    background: url(feet-1840619_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   padding: 15px;
   border-radius: 15px;
   position: relative;
   bottom: 180px;
   animation: back 6s ease-in-out infinite;
}
h5{
    color:#D4AF37;
    position: relative;
    bottom: 140px;
    text-align: center;
    font-size: 25px;
      font-family: "Raleway", sans-serif;
 
 
     text-transform: capitalize;
}
.pour .accessoires {
    background-color: #2C3E50;
    position: relative;
    top: 25%;
    height: 10vh;
}
footer{
    background-color: #2C3E50;
    height: 70vh;
    padding: 25px;
    border-radius: 15px;
}
footer .num {
   text-align: center;
   text-transform: uppercase;

}
footer .count{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
footer .count p{
font-size: 25px;
color: #D4AF37;
}
footer p{
    font-size: 35px;
    color: #FFF;
    letter-spacing: 1.5px;
    text-align: center;
}
@keyframes back{
    30%{
       background: url(istockphoto-1249496770-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
    }
    40%{
           background: url(handbag-3053374_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    }
    60%{
       background: url(istockphoto-1453963615-1024x1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
    }
    80%{
       background: url(leather-1175154_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
    }
}

.pour .accessoires p{
    position: relative;
    top:50%;
    left: 30%;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;

}

@media screen and (max-width:1000px){
    body{
        padding: 10px;
    }
   header nav .logo{
    position: relative;
    left: auto;
   } 
  header nav .menu {
   display: flex;
}

.bienvenue .accueil h1{
    font-size: 35px;
letter-spacing: 2px;
    flex-wrap: nowrap;
    padding-top: 10px;
} 
.bienvenue .accueil h2{
     font-size: 26px;
    flex-wrap: nowrap;
      padding-top: 10px;
   
}
.bienvenue .accueil h3{
    font-size: 25px;
    flex-wrap: nowrap; 
     padding-top: 10px;
      position: relative;
    top: 10%;
}
.produit .pro img{
    width:80%;
    height: 30vh;
    border-radius: none;
}
.produit ol li a{
position: relative;
left: 0%;
margin-right: 5%;
text-align: left;
}
h4{
    position: relative;
  font-size: 32px;
  text-align: center;
}
footer{
    background-color: #2C3E50;
    height: 35vh;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
    position: relative;
    bottom: 45px;
}
footer .count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

footer p{
    font-size: 20px;
    color: #FFF;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 13px;
}
.pour{
    height: 90vh;
    background: url(feet-1840619_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   padding: 15px;
   border-radius: 15px;
   position: relative;
   bottom: 140px;
   animation: back 6s ease-in-out infinite;
}
.pour .accessoires {
    width: 100%;
    position: relative;
    top:20%;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 0;
    height: 20vh;
}
.pour .accessoires P {
    font-size: 25px;
    position: relative;
    left: 0%;
   top: 5%;
    text-align: center;
    letter-spacing: 1.5px;
    flex-wrap: wrap;
    border-radius: 15px;
    text-transform: capitalize;
}

}
@media screen and (max-width:700px){
 body{
        padding: 25px;
    }
    header nav{
        flex-direction: column;
    }
      header nav .menu ul{
          display: none;
        flex-direction: column;
        position: relative;
        bottom: 145px;
        width: 100%;
        background-color: #2c3e50ee;
        border: none;
      
    }
    header nav .logo img{
    width: 200px;
    height: 150px;
    position: relative;
left: 15%;
}
    header nav .menu ul li:hover{
    border: 1px solid white;
    background-color: darkgoldenrod;
  border-radius: none;
  height: 50px;
  
}
     header  nav .menu ul li a{
        color: #FFF;
     }

      header  nav .menu ul li{
        background-color: transparent;
        border: 1px solid white;
          transition: 0.5s ease-in-out;
            margin: 5px;
            margin-left: 70px;
          
      }
          
              nav .menu ul li a{
                color: #FFF;
                text-align: center;
              }

  #humberger_menu{
    display: flex;
    width: 100px;
    position: relative;
    bottom: 240px;
    left: 25%;
  }
  img{
    width: 200x;
    height: 80px;
  }
}